# 최상위
/dataset/
/video/
/videos/
/frames/

# model_make 관련
model_make/dataset/
model_make/datasets/
model_make/video/
model_make/videos/
model_make/frames/
model_make/runs/
model_make/.venv/
model_make/weights/
*.pt


# slice 관련
slice/.venv/
slice/dataset/
slice/video/
slice/videos/

# 공통
__pycache__/
*.pyc

model_make/dataset/
model_make/datasets/
model_make/video/
model_make/videos/
model_make/frames/
model_make/runs/
model_make/.venv/
model_make/weights/
*.pt
!model_make/models/
!model_make/models/*.pt

model_make/test/
model_make/train/
model_make/valid/