# model_make 관련
model_make/datasets/
model_make/runs/
model_make/.venv/
model_make/weights/
*.pt
!model_make/runs/gesture_yolo_real-4/weights/best.pt

# slice 관련
slice/.venv/
slice/videos/

# 공통
__pycache__/
*.pyc